NEXT_PUBLIC_SITE_URL="http://localhost:3000"
RESEND_API_KEY="re_bGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9"
# These environment variables are used for Supabase Local Dev
NEXT_PUBLIC_SUPABASE_ANON_KEY="eYTn_I0"
NEXT_PUBLIC_SUPABASE_URL="http://12.0.0.1:921"
SUPABASE_SERVICE_ROLE_KEY="eyJ1IU"

# Get these from Stripe dashboard
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
